<h1>Bookings</h1>
<% unless @bookings.empty? %>
  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.event.title %></td>
          <td><%= booking.event.date %></td>
          <td><%= booking.user.name %></td>
          <td><%= booking.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>No events available currently</h4>
<% end %>

<%= button_to "Back to events", events_path, method: :get %>
