<tr id="<%= dom_id event %>">
  <td><%= event.title %></td>
  <td><%= event.date %></td>
  <td><%= event.location %></td>
  <td><%= event.description %></td>
  <td><%= event.status %></td>
  <td>
    <%= button_to "Book", event_bookings_path(event_id: event.id, user_id: current_user.id), method: :post %>
  </td>
</tr>